{% extends "hello/layout.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
    <div class="about-us-container">
        <h1 class="page-title">DailyTasks</h1>
        <h2 class="slogan">Organize seu dia, simplifique sua vida</h2>
        <p>
            Bem-vindo ao <strong>DailyTasks</strong>! Este aplicativo foi desenvolvido como parte da disciplina de Desenvolvimento de Softwares na faculdade, utilizando as tecnologias Django e Python.
        </p>
        <p>
            O <strong>DailyTasks</strong> tem como objetivo facilitar o registro e o acompanhamento de suas atividades diárias. Com uma interface intuitiva e funcional, este app visa ajudar você a organizar suas tarefas de maneira eficiente e prática.
        </p>
        <p>
            O <strong>DailyTasks</strong> aproveita o framework Django para oferecer uma experiência de usuário otimizada. A metodologia Scrum foi adotada durante o desenvolvimento, permitindo uma abordagem ágil e adaptativa para atender às necessidades do projeto.
        </p>
        <p>
            Esperamos que esta ferramenta seja uma ajuda valiosa para a gestão das suas atividades e inspire você a explorar o mundo do desenvolvimento de software.
        </p>
        <p>
            Obrigado por visitar o <strong>DailyTasks</strong>!
        </p>
    </div>
{% endblock %}
